body{
  background-color: rgb(162, 161, 151);
}
#post {
  border: 1px solid #333;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fafafa;
}

#search {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  border: 1px solid #333;
  background-color: #ffffff;
}

.add-post {
  border: 1px solid #333;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#add-post-form {
  display: flex;
  flex-direction: column;
}

#title-input,
#body-input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 16px;
  background-color: #ffffff;
}

#submit-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: white;
}

#post:hover {
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  transform: scale(1.04);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
  color: white;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
}

nav h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  padding: 6px 10px;
  transition: 0.3s ease;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: white;
  color: #000;
  transform: scale(1.05);
}

a {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #111;
}

.delete-btn {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 750px;
}

.delete-btn:hover {
  background-color: #000;
}