.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background: #242424;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

#link{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    box-shadow: 1px 1px 8px white;
}
#link:hover{
    background-color: white;
    color: black;
    box-shadow: none;
}

.nav-links li {
  cursor: pointer;
}
