#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#name {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s ease;
}
#name:hover {
  color: #646cff;
}
button {
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  border: none;
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #535bf2;
}